@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat-Medium.ttf);
   }


body{
    background-color: #181818;
    color: #C9C5C5;
    font-family: 'Montserrat';
    
    width: 100%;
    height: 100Vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
}

.content-box{
    height: 73%;
    width: 56%;
    /*border: 1px solid white;*/

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    box-shadow: 4.34118px 4.34118px 30.8236px #000000;
    border-radius: 32.993px;

}

form{
    /*border: 1px solid white;*/
    width: 93%;
    height: 10%;
    display: flex;
    
}

.select-container{
    width: 66%;
    height: 100%;
    /*border: 1px solid white;*/
    box-shadow: 7px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 37px;
    display: flex;
    justify-content: space-around;
}

.img{
    height: 100%;
    width: 10%;
}

select{
    background-color: #181818;
    width: 80%;

    letter-spacing: 0.02em;
    color: #C9C5C5;
    opacity: 0.3;
    font-weight: 600;
    font-size: 16px; 

    border:0px;
    outline:0px;
}


#content{
    /*border: 1px solid white;*/
    height: 73%;
    width: 93%;
    /*display: flex;
    flex-direction: column;
    justify-content: flex-start;*/
    overflow: auto;
    margin-bottom: 10px;
    
}

.input-table{
    /*border: 1px solid white;*/
    
    width: 100%;

    font-weight: 500;
    font-size: 15px;
    line-height: 31px;
    opacity: 0.8;
    /*display: flex;
    justify-content: space-around;*/

}

td{
    padding-left: 10px;
    max-height: 10px;

    /*background: blue;*/
}


tr{
    background: rgba(196, 196, 196, 0.06);
    box-shadow: 0px 1.73647px 60.8236px rgba(0, 0, 0, 0.25);
    border-radius: 8.68236px;
    width: 100%;
}

tr:first-child{
    background-color: #181818;
}

#content::-webkit-scrollbar{
    
    background-color: #181818;
    width: 13px;
    opacity: 0.9;

}
#content::-webkit-scrollbar-thumb:hover{
    background-color: #514F4F;
    width: 5px;
    border-radius: 30px;
}